PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE IF NOT EXISTS "django_migrations" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "app" varchar(255) NOT NULL, "name" varchar(255) NOT NULL, "applied" datetime NOT NULL);
INSERT INTO django_migrations VALUES(1,'contenttypes','0001_initial','2024-07-20 12:47:34.101953');
INSERT INTO django_migrations VALUES(2,'auth','0001_initial','2024-07-20 12:47:34.119953');
INSERT INTO django_migrations VALUES(3,'admin','0001_initial','2024-07-20 12:47:34.131940');
CREATE TABLE IF NOT EXISTS "auth_group_permissions" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "group_id" integer NOT NULL REFERENCES "auth_group" ("id") DEFERRABLE INITIALLY DEFERRED, "permission_id" integer NOT NULL REFERENCES "auth_permission" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "auth_user_groups" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "group_id" integer NOT NULL REFERENCES "auth_group" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "auth_user_user_permissions" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "permission_id" integer NOT NULL REFERENCES "auth_permission" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "django_admin_log" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "object_id" text NULL, "object_repr" varchar(200) NOT NULL, "action_flag" smallint unsigned NOT NULL CHECK ("action_flag" >= 0), "change_message" text NOT NULL, "content_type_id" integer NULL REFERENCES "django_content_type" ("id") DEFERRABLE INITIALLY DEFERRED, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "action_time" datetime NOT NULL);
INSERT INTO django_admin_log VALUES(1,'3','Gorn456',2,'[{"changed": {"fields": ["Email address"]}}]',4,1,'2024-07-21 09:54:28.880731');
INSERT INTO django_admin_log VALUES(2,'1','Test',3,'',11,1,'2024-07-25 18:13:56.801261');
INSERT INTO django_admin_log VALUES(3,'11','kam04 in jthndtyjhesthyeh',2,'[{"changed": {"fields": ["Position"]}}]',12,1,'2024-07-29 12:19:46.370286');
CREATE TABLE IF NOT EXISTS "django_content_type" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "app_label" varchar(100) NOT NULL, "model" varchar(100) NOT NULL);
INSERT INTO django_content_type VALUES(1,'admin','logentry');
INSERT INTO django_content_type VALUES(2,'auth','permission');
INSERT INTO django_content_type VALUES(3,'auth','group');
CREATE TABLE IF NOT EXISTS "auth_permission" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "content_type_id" integer NOT NULL REFERENCES "django_content_type" ("id") DEFERRABLE INITIALLY DEFERRED, "codename" varchar(100) NOT NULL, "name" varchar(255) NOT NULL);
INSERT INTO auth_permission VALUES(1,1,'add_logentry','Can add log entry');
INSERT INTO auth_permission VALUES(2,1,'change_logentry','Can change log entry');
INSERT INTO auth_permission VALUES(3,1,'delete_logentry','Can delete log entry');
CREATE TABLE IF NOT EXISTS "auth_group" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(150) NOT NULL UNIQUE);
CREATE TABLE IF NOT EXISTS "auth_user" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "password" varchar(128) NOT NULL, "last_login" datetime NULL, "is_superuser" bool NOT NULL, "username" varchar(150) NOT NULL UNIQUE, "last_name" varchar(150) NOT NULL, "email" varchar(254) NOT NULL, "is_staff" bool NOT NULL, "is_active" bool NOT NULL, "date_joined" datetime NOT NULL, "first_name" varchar(150) NOT NULL);
INSERT INTO auth_user VALUES(1,'pbkdf2_sha256$720000$Szpi8KoI5H5rYN5uVtext4$XPKsRCku7eD8HbrSaQasHBfHHlMAsbXujv7ng2YnJfw=','2024-08-15 08:30:45.498158',1,'kam04','','kam04128@gmail.com',1,1,'2024-07-20 12:48:43.597063','');
INSERT INTO auth_user VALUES(2,'pbkdf2_sha256$720000$VbaDi3LAlN7mrNcgbyM0An$M2I36EySvEB1gC9t/H//XpXg0ZWHgmn6pQ3K+kbzVVg=','2024-07-21 09:35:04.715007',0,'MagicznaKredka69','','',0,1,'2024-07-21 08:34:57.184387','');
INSERT INTO auth_user VALUES(3,'pbkdf2_sha256$720000$3OdAlEWWVj6a9krLnuNRRt$WWpVlzSCUcojwfvi6+fhrXaxYq6tHwjUJae8uedWMkA=','2024-08-15 11:42:13.007150',0,'Gorn456','','email@email.com',0,1,'2024-07-21 09:53:01','');
CREATE TABLE IF NOT EXISTS "django_session" ("session_key" varchar(40) NOT NULL PRIMARY KEY, "session_data" text NOT NULL, "expire_date" datetime NOT NULL);
INSERT INTO django_session VALUES('7u35pw64813qsy0amjd1em5aubwxqc7v','.eJxVjMsOwiAQRf-FtSE8HXDp3m8gDAxSNZCUdmX8d9ukC92ec-59sxDXpYZ10BymzC7MstMvw5ie1HaRH7HdO0-9LfOEfE_4YQe_9Uyv69H-HdQ46rZGi4V8QXAeBCohIEbpvLN-A8W7YrKRhPlsFSgtlQCUiUiASUXrlNnnC-EVN7s:1sWIwH:xo4fp1LXqvp7H-eMsGYqcNCEnSwHEClZ1aKGWQFkfjs','2024-08-06 17:04:37.441105');
INSERT INTO django_session VALUES('o87nr4rw9j5yuvxim75e7qoop4ynjwmi','.eJxVjMsOwiAQRf-FtSEdWhhw6d5vaAaGkaqBpI-V8d-1SRe6veec-1IjbWsZtyXP48TqrECdfrdI6ZHrDvhO9dZ0anWdp6h3RR900dfG-Xk53L-DQkv51sljZ8W4SACcAxMGYIjivU9dT-QcGgk2yMAgMmAQQGsdGcwJQXr1_gDqijfu:1sWdFh:82KUbXwd9cvl5OagHuMVS3xYlCMEJE9G-a1EvMImAL8','2024-08-07 14:46:01.862255');
INSERT INTO django_session VALUES('nkmerfd5scgoww1fwihvh0dg4n8x54xy','.eJxVjMsOwiAQRf-FtSEdWhhw6d5vaAaGkaqBpI-V8d-1SRe6veec-1IjbWsZtyXP48TqrECdfrdI6ZHrDvhO9dZ0anWdp6h3RR900dfG-Xk53L-DQkv51sljZ8W4SACcAxMGYIjivU9dT-QcGgk2yMAgMmAQQGsdGcwJQXr1_gDqijfu:1sWeHC:vNoqarbNMcn017AI0BDGDgbCiUFnCXXtyPz5v0j-j2I','2024-08-07 15:51:38.844428');
CREATE TABLE IF NOT EXISTS "app_blog" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "title" varchar(100) NOT NULL, "content" text NOT NULL, "created_at" datetime NOT NULL, "updated_at" datetime NOT NULL, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO app_blog VALUES(1,'Regnum Poloniae','Rex Poloniae','2024-07-20 18:43:33.036042','2024-07-20 19:34:42.511101',1);
INSERT INTO app_blog VALUES(2,'Rulers of Poland',replace(replace('Mieszko I,\r\nBoles┼éaw Chrobry,\r\nMieszko II Lambert','\r',char(13)),'\n',char(10)),'2024-07-20 18:45:29.659063','2024-07-20 18:45:29.659063',1);
INSERT INTO app_blog VALUES(5,'Abecad┼éo dsfsf',replace(replace('bla bla,\r\nbla bla,\r\nbla bla,\r\nbla bdfsdfla,','\r',char(13)),'\n',char(10)),'2024-07-21 10:17:38.038391','2024-07-21 10:17:47.948595',4);
CREATE TABLE IF NOT EXISTS "app_privatechat" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "user1_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "user2_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO app_privatechat VALUES(1,1,4);
INSERT INTO app_privatechat VALUES(2,5,4);
INSERT INTO app_privatechat VALUES(3,5,1);
CREATE TABLE IF NOT EXISTS "app_publicchat" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT);
INSERT INTO app_publicchat VALUES(1);
CREATE TABLE IF NOT EXISTS "app_message" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "message" text NOT NULL, "timestamp" datetime NOT NULL, "sender_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "chat_id" bigint NULL REFERENCES "app_privatechat" ("id") DEFERRABLE INITIALLY DEFERRED, "public_chat_id" bigint NULL REFERENCES "app_publicchat" ("id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO app_message VALUES(1,'Test','2024-07-23 16:17:58.371644',1,1,NULL);
INSERT INTO app_message VALUES(2,'Hello!','2024-07-23 17:38:01.884920',5,2,NULL);
INSERT INTO app_message VALUES(3,'How are you ?','2024-07-23 17:38:57.265363',4,2,NULL);
CREATE TABLE IF NOT EXISTS "app_roomuser" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "room_id" bigint NOT NULL REFERENCES "app_pokerroom" ("id") DEFERRABLE INITIALLY DEFERRED, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "position" integer NULL);
INSERT INTO app_roomuser VALUES(5,5,4,2);
INSERT INTO app_roomuser VALUES(117,5,1,1);
INSERT INTO app_roomuser VALUES(118,5,3,3);
CREATE TABLE IF NOT EXISTS "app_pokerroom" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(100) NOT NULL, "is_private" bool NOT NULL, "password" varchar(100) NULL);
INSERT INTO app_pokerroom VALUES(5,'Pok├│j Tyfusa',0,NULL);
DELETE FROM sqlite_sequence;
INSERT INTO sqlite_sequence VALUES('django_migrations',23);
INSERT INTO sqlite_sequence VALUES('django_admin_log',16);
INSERT INTO sqlite_sequence VALUES('django_content_type',12);
CREATE UNIQUE INDEX "auth_group_permissions_group_id_permission_id_0cd325b0_uniq" ON "auth_group_permissions" ("group_id", "permission_id");
CREATE INDEX "auth_group_permissions_group_id_b120cbf9" ON "auth_group_permissions" ("group_id");
CREATE INDEX "auth_group_permissions_permission_id_84c5c92e" ON "auth_group_permissions" ("permission_id");
CREATE UNIQUE INDEX "auth_user_groups_user_id_group_id_94350c0c_uniq" ON "auth_user_groups" ("user_id", "group_id");
CREATE INDEX "auth_user_groups_user_id_6a12ed8b" ON "auth_user_groups" ("user_id");
CREATE INDEX "auth_user_groups_group_id_97559544" ON "auth_user_groups" ("group_id");
CREATE UNIQUE INDEX "auth_user_user_permissions_user_id_permission_id_14a6b632_uniq" ON "auth_user_user_permissions" ("user_id", "permission_id");
CREATE INDEX "auth_user_user_permissions_user_id_a95ead1b" ON "auth_user_user_permissions" ("user_id");
CREATE INDEX "auth_user_user_permissions_permission_id_1fbb5f2c" ON "auth_user_user_permissions" ("permission_id");
CREATE INDEX "django_admin_log_content_type_id_c4bce8eb" ON "django_admin_log" ("content_type_id");
CREATE INDEX "django_admin_log_user_id_c564eba6" ON "django_admin_log" ("user_id");
CREATE UNIQUE INDEX "django_content_type_app_label_model_76bd3d3b_uniq" ON "django_content_type" ("app_label", "model");
CREATE UNIQUE INDEX "auth_permission_content_type_id_codename_01ab375a_uniq" ON "auth_permission" ("content_type_id", "codename");
CREATE INDEX "auth_permission_content_type_id_2f476e4b" ON "auth_permission" ("content_type_id");
CREATE INDEX "django_session_expire_date_a5c62663" ON "django_session" ("expire_date");
CREATE INDEX "app_blog_user_id_7d2c20bd" ON "app_blog" ("user_id");
CREATE INDEX "app_privatechat_user1_id_f727959f" ON "app_privatechat" ("user1_id");
CREATE INDEX "app_privatechat_user2_id_9a7a10ae" ON "app_privatechat" ("user2_id");
CREATE INDEX "app_message_sender_id_a7a6a10b" ON "app_message" ("sender_id");
CREATE INDEX "app_message_chat_id_9741aae4" ON "app_message" ("chat_id");
CREATE INDEX "app_message_public_chat_id_aadd9926" ON "app_message" ("public_chat_id");
CREATE INDEX "app_roomuser_room_id_7481be5a" ON "app_roomuser" ("room_id");
CREATE INDEX "app_roomuser_user_id_36d6c374" ON "app_roomuser" ("user_id");
COMMIT;
