<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link rel="stylesheet" href="{% static './bridge/styles/main.css' %}">
    <link rel="stylesheet" href="{% static './bridge/styles/style.css' %}">
    <link rel="stylesheet" href="{% static './bridge/styles/cards.css' %}">
    <link rel="stylesheet" href="{% static './bridge/styles/button-styles.css' %}">
    <script src="{% static './bridge/main.js' %}"></script>
    <title>Modal z Przyciskami</title>
</head>
<body>
    <div class="player table">
        <div class="table-south S"></div>
        <div class="table-west W"></div>
        <div class="table-north N"></div>
        <div class="table-east E"></div>
        <div class="table-center">
            <div class="turn-holder"></div>
            <div class="info"></div>
        </div>
    </div>
    <div class="player south"></div> 
    <div class="player west"></div>
    <div class="player north"></div>
    <div class="player east"></div>
    <button class="start-button">Start</button>
    <button class="corner-button open-modal-btn">Odzywki</button>
    <!-- Przycisk otwierający modal -->

    <!-- Modal -->
    <div id="buttonModal" class="modal">
        <div class="modal-content">
            <span class="close-btn">&times;</span>
            <h2>Wybierz kartę</h2>
            <button value="0c" class="pass-button">PAS</button>
            <div class="grid">
                <button value="1c" id="11">1♧</button><button value="1d" id="12">1♢</button><button value="1h" id="13">1♡</button><button value="1s" id="14">1♤</button><button value="1b" id="15">1BA</button>

                <button value="2c" id="21">2♧</button><button value="2d" id="22">2♢</button><button value="2h" id="23">2♡</button><button value="2s" id="24">2♤</button><button value="2b" id="25">2BA</button>
                
                <button value="3c" id="31">3♧</button><button value="3d" id="32">3♢</button><button value="3h" id="33">3♡</button><button value="3s" id="34">3♤</button><button value="3b" id="35">3BA</button>
                
                <button value="4c" id="41">4♧</button><button value="4d" id="42">4♢</button><button value="4h" id="43">4♡</button><button value="4s" id="44">4♤</button><button value="4b" id="45">4BA</button>
                
                <button value="5c" id="51">5♧</button><button value="5d" id="52">5♢</button><button value="5h" id="53">5♡</button><button value="5s" id="54">5♤</button><button value="5b" id="55">5BA</button>
                
                <button value="6c" id="61">6♧</button><button value="6d" id="62">6♢</button><button value="6h" id="63">6♡</button><button value="6s" id="64">6♤</button><button value="6b" id="65">6BA</button>
                
                <button value="7c" id="71">7♧</button><button value="7d" id="72">7♢</button><button value="7h" id="73">7♡</button><button value="7s" id="74">7♤</button><button value="7b" id="75">7BA</button>
            </div>
        </div>
    </div>

    <!-- Modal results-->
    <div class="modal-results">
        <div class="modal-results-content">
            <span class="close">&times;</span>
            <h2>Wyniki meczu</h2>
            <table>
                <thead>
                    <tr>
                    <th></th>
                    <th>My</th>
                    <th>Oni</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Wygrane partie</td>
                        <td id="myGames">0</td>
                        <td id="theirGames">0</td>
                    </tr>
                    <tr>
                        <td>Punkty pod kreską</td>
                        <td id="myUnderLine">0</td>
                        <td id="theirUnderLine">0</td>
                    </tr>
                    <tr>
                        <td>Punkty nad kreską</td>
                        <td id="myAboveLine">0</td>
                        <td id="theirAboveLine">0</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


    <script>
        // Obsługa modala
        const modal = document.getElementById('buttonModal');
        const modalResults = document.querySelector('.modal-results')
        const openBtn = document.querySelector('.open-modal-btn');
        const closeBtn = document.querySelector('.close-btn');
        const closeBtnResults = document.querySelector('.close');
        const startBtn = document.querySelector('.start-button');

        // Otwieranie modala
        openBtn.addEventListener('click', () => {
            modal.style.display = 'flex';
        });

        // Zamykanie modala
        closeBtn.addEventListener('click', () => {
            modal.style.display = 'none';
        });

        closeBtnResults.addEventListener("click", () => {
            modalResults.style.display = 'none'
        })

        // Zamykanie po kliknięciu poza modalem
        window.addEventListener('click', (event) => {
            if (event.target === modal) {
                modal.style.display = 'none';
            }
            if (event.target === modalResults) {
                modalResults.style.display = 'none'
            }
        });

        // Obsługa przycisków w modal
        document.querySelectorAll('.grid button').forEach(button => {
            button.disabled = true
        });

        // openBtn.style.display = 'none'

        startBtn.addEventListener("click", () => {
            startBtn.innerHTML = "Stan gry"
            startBtn.addEventListener("click", () => {
                document.querySelector(".modal-results").style.display = "block"
            })
            Module._main()
        }, {once: true})


    </script>
    <script src="{% static './bridge/frontend.js' %}?nocache=1"></script>
</body>
</html>