.navbar {
    background-color: #1f1f1f;
    z-index: 1000;
}
.navbar-brand, .nav-link, .btn-primary {
    color: #ffffff;
}

.navbar-brand img {
    max-height: 40px;
}

.navbar-nav {
    flex-grow: 1;
    justify-content: center;
}

.navbar-nav .nav-item {
    margin: 0 10px;
}

.navbar-toggler-icon {
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath stroke="rgba%2855,55,55,0.8%29" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"/%3E%3C/svg%3E');
}

.dropdown-toggle::after {
    display: none;
}

.dropdown-menu {
    background-color: #1f1f1f;
    border: none;
}

.dropdown-item {
    color: #ffffff;
}

.dropdown-item:hover {
    background-color: #343a40;
    color: #ffffff;
}