{% extends 'main.html' %}

{% block content %}
    {% if error %}
        <p>{{ error }}</p>
     {% endif %}
    {% if type == "login" %}
        <h1>Login</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Login</button>
        </form>
        <a href="{% url 'register' %}"> Don't have an account yet ?</a>
    {% else %}
        <h1>Register</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Register</button>
        </form>
        <a href="{% url 'login' %}"> Already have an account ?</a>
    {% endif %}
{% endblock %}